In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("salaries_by_college_major.csv")

In [3]:
clean_df = df.dropna()

In [4]:
# What college major has the highest mid-career salary?
highest_mid_career_salary_row_index = clean_df["Mid-Career Median Salary"].idxmax()
clean_df["Undergraduate Major"][highest_mid_career_salary_row_index]

'Chemical Engineering'

In [5]:
# How much do graduates with this major earn?
clean_df.loc[highest_mid_career_salary_row_index]["Mid-Career Median Salary"]

107000.0

In [6]:
# Which college major has the lowest starting salary?
lowest_starting_salary_row_index = clean_df["Starting Median Salary"].idxmin()
clean_df["Undergraduate Major"][lowest_starting_salary_row_index]

'Spanish'

In [7]:
# How much do graduates of that major earn after university?

In [8]:
clean_df.loc[lowest_starting_salary_row_index]["Starting Median Salary"]

34000.0

In [9]:
# Which college major has the lowest mid-career salary?
lowest_mid_career_salary_row_index = clean_df["Mid-Career Median Salary"].idxmin()
clean_df["Undergraduate Major"][lowest_mid_career_salary_row_index]

'Education'

In [10]:
# How much can people expect to earn with this degree? 
clean_df.loc[lowest_mid_career_salary_row_index]["Mid-Career Median Salary"]

52000.0

In [11]:
# Using the .sort_values() method, can you find the degrees with the highest potential?
# Find the top 5 degrees with the highest values in the 90th percentile.
highest_potential = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [12]:
# Which majors have the largest difference between high and low earners after graduation?
spread = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(1, "Spread", spread)
clean_df[["Undergraduate Major", "Spread"]].sort_values("Spread", ascending=False).head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [13]:
# Now can you use the .mean() method to find the average salary by group? 
clean_df.groupby("Group").mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000